<script type="text/javascript">
    var widgetOptions = {
      id: 1,
      domain: '<%= @domain %>',
      path: '/purchases/new',
      nocache: Math.random(),
      params: {
        owner_id: <%= @user[:id] %>,
        api_token: '<%= @user[:api_token] %>',
        client_id: <%= @client[:id] %>,
        client_siebel_id: '<%= @client[:integration_id] %>'
      }
    };

</script>

<script type="text/javascript">

  function sendMessage(msg, iframe_id){
    iframe = document.getElementById(iframe_id);
    iframe_url = iframe.src.replace(/^.*/, '');
    XD.postMessage(msg, iframe_url, iframe.contentWindow);
  }

</script>

<p>
  <button type="button" class="btn btn-warning" onclick="createWidget('widget_place1', widgetOptions)">Show Concierge Widget</button>
  <a class="show-modal-window btn btn-primary" data-target="#modal-window" data-toggle="modal" href="/demo/show_modal">Show Modal</a>


  <button type="button" class="btn btn-info" onclick="sendMessage('42', 'widget_iframe1')">Send Message</button>
</p>


<div id='widget_place1' class="panel panel-default">
  <div class="panel-body">
 </div>
</div>
