<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Создание нового предложения:</h3>
  </div>
  <div class="panel-body">
<% if @warning_message %>

  <p><%= @warning_message %></p>
  <p><a class="btn btn-danger" href="?<%= @params %>"><span class="glyphicon glyphicon-remove-circle"></span> Очистить корзину</a></p>

<% else %>

<%= form_for @widget, url: { :action=>"create", :controller=>"purchases" }, html: { :role=>"form" } do |f| %>
  <%= hidden_field_tag(:api_token, @api_token) %>
  <%= hidden_field_tag(:client_id, @widget[:client_id]) %>
  <%= hidden_field_tag(:owner_id, @widget[:owner_id]) %>
  <%= hidden_field_tag(:client_integration_id, @widget[:client_integration_id]) %>
  <% @products.each do |product| %>
  <div class="form-group">
    <label for="ClientId">Предложение "<%= product[:offering]["Name"] %>"</label>
    <select class="form-control" id="OffPrices" name="offerings[<%= product[:offering]["Id"] %>]">
    <% product[:prices].each do |price| %>
      <option value="<%= price["Id"] %>"><%= price["Name"] %></option>
    <% end %>
    </select>
  </div>
  <% end %>
  <button type="submit" class="btn btn-warning">Сделать предложение</button>
<% end %>

<% end %>

  </div>
</div>
