<div class="payment">
<ul>
<% if @widget.order_products.size > 0 %>

  <% @widget.order_products.each do |product| %>
    <li><div class="in"><%= product[:offering]['Name'] %></div></li>
    <li><div class="in">Период обслуживания - <%= product[:price]['Name'] %></div></li>
    <li class="ok">
      <div class="in">
        <mark>Цена:</mark> <strong><%= number_to_currency(@widget.order['Amount'], locale: :ru, precision: 0) %></strong>
      </div>
    </li>
  <% end %>

  <% if @widget.status == 'chated' %>
  <li class="pay">
    <div class="in">
    <form action="<%= @widget.target_url %>" method="post" target="_blank">
        <input type="hidden" name="PaymentType" value="qiwi">
        <input type="hidden" name="Qiwi.PayerPhone" value="<%= @current_user_phone %>">
        <input type="hidden" name="Receipt.FIO" value="<%= @current_user.first_name %> <%= @current_user.last_name %>">
        <input type="hidden" name="Receipt.Address" value="">
        <button type="submit" class="default-button-orange"> Оплатить </button>
    </form>
    </div>
  <% else %>
  <li class="status">
      <div class="in">Заказ оплачен</div>
  </li>
  <% end -%>

<% else %>

  <li class="status">
      <div class="in">В корзине пусто...</div>
  </li>

<% end -%>
</ul>
</div>
