<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %>!</h3>
  </div>

<% if @widget.order_products.size > 0 %>
  <table class="table">
    <% @widget.order_products.each do |product| %>
    <tr>
      <td><%= product[:offering]['Name'] %></td>
      <td><%= product[:price]['Name'] %></td>
    </tr>
    <% end %>
  </table>

  <div class="panel-body">
    <p> Сумма заказа: <%= @widget.order['Amount'] %> р.</p>
    <button type="button" class="btn btn-success" onclick="OpenPayWindow('<%= @widget.target_url %> ')">Оплатить</button>
  </div>

  <% else %>
  <div class="panel-body">
    <p>В корзине пусто...</p>
  </div>
  <% end -%>

</div>
