<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"><%= @title %>!</h3>
  </div>

<% if  @widget.cart[:count] > 0%>
  <table class="table">
    <tr>
      <td><%= @widget.cart[:item]['Name'] %></td>
      <td><%= @widget.cart[:product]['BillingPeriod']['Name'] %></td>
      <td><%= @widget.cart[:item]['Price'] %> р.</td>
    </tr>
  </table>

  <div class="panel-body">
  <%= @widget.cart_info.inspect %>
  </div>

  <% else %>
  <div class="panel-body">
    <p>В корзине пусто...</p>
  </div>
  <% end -%>

</div>
